body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#lines-table td {
	text-align: center;
	white-space: nowrap;
}

#lines-table tr.coffee-names th {
	padding-left:15px;
	white-space: nowrap;
}

#lines-table tr.coffee-prices th {
	text-align: center;
}

#lines-table td:hover {
	background-color: #27A1C5;
}

#lines-table tbody tr {
//	height: 80px;
}

#lines-table td.left {
	text-align: left;
}

.quantity {
	text-align: center;
    cursor: pointer;
}

#login-buttons {
	display: block;
	float: right;
	padding: 10px 20px 10px;
	margin-left: -20px;
	text-shadow: 0 1px 0 white;
}
