body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#lines-table thead tr {
	height: 30px;
}

#lines-table thead td {
	text-align: center;
}

#lines-table td.left, #lines-table td.right {
	padding-left: 20px;
}

#lines-table td {
	width: 80px;
	padding: 0px;
}

#lines-table td:hover {
	background-color: #27A1C5;
}

#lines-table tbody tr {
	height: 80px;
}

#lines-table td.left {
	width: 200px;
}

.more-active {
    background-color: #FF7F7F;
    
}

.less-active {
    background-color: #D47FFF;
}

.amount, .more-less {
    height: 80px;
    width: 40px;
    display:inline-block;
    float: left;
}

.amount {
	text-align: center;
}

.amount span {
	padding-top: 40px;
}

.more-active, .less-active {
    cursor: pointer;
}

.more, .less {
    height: 40px;
    width: 40px;
    display:block;
    text-align: center;
    padding-top: 40;
	font-size: 1.5em;
}

#login-buttons {
	display: block;
	float: right;
	padding: 10px 20px 10px;
	margin-left: -20px;
	text-shadow: 0 1px 0 white;
}
